<h1>Welcome to Score!</h1>

<form action="/insert_user">
  <label for="username_box">Name</label>
  <input id="username_box" name = "query_name">

  <label for="usercompany_box">Company</label>
  <input id="usercompany_box" name = "query_company">

  <label for="userrole_box">Role</label>
  <input id="userrole_box" name = "query_role">

  <label for="userindustry_box">Industry</label>
  <input id="userindustry_box" name = "query_industry">


  <button>Register</button>
</form>
