<h5>Thanks for submitting！While you wait for the rest of your team, take a look at some interesting stats...</h5>

<h1>Slaughter and May</h1>

<table border="1">
  <tr>
    <th style="padding-left: 10px;padding-right: 10px;">
      PROPERTY TYPE
    </th>
    <th style="padding-left: 10px;padding-right: 10px;">
      TENURE
    </th>
    <th style="padding-left: 10px;padding-right: 10px;">
      SIZE(SQ FT)
    </th>
    <th style="padding-left: 10px;padding-right: 10px;">
      TARGET OCCUPANCY
    </th>
    
  </tr>

  <%#@list_of_users.each do |a_user|%>
    <tr>
        <td style="padding-left: 10px;padding-right: 10px;">
          <%#= a_user.id%>
          Office
        </td>

        <td style="padding-left: 10px;padding-right: 10px;">
          To Let
        </td>

        <td style="padding: 10px">
          14,000-20,000
        </td>

        <td style="padding-left: 10px;padding-right: 10px;">
          August 2019
        </td>
        
      </tr>
  <%# end %>
</table>

<p>
  <a href="/analytics">ANALYTICS</a>
  <a href="/properties">PROPERTIES</a>
</p>

<table border="1">
  <tr>
    <td><a href="/overall" style="padding: 10px" >Overall</a></td>
    <td><a href="/amenities" style="padding: 10px">Amenities&Connectivity</a></td>
    <td><a href="/collabration" style="padding: 10px">Collabration&Productivity</a></td>
    <td><a href="/staff_impact" style="padding: 10px">Staff Impact&Wellbeing</a></td>
    <td><a href="/branding" style="padding: 10px">Branding</a></td>
    <td><a href="/future_flexibility" style="padding: 10px; justify-contect: space-between;">Future Flexibility</a></td>
  </tr>
</table>
<p>
  <table border="1">
    <tr>
      <td>100 Liverpoool Street
      </td>
      <td>8.1
      </td>
    </tr>
    <tr>
      <td>25 North Colonade
      </td>
      <td>7.0
      </td>
    </tr>
    <tr>
      <td>80 Finchurch Street
      </td>
      <td>6.8
      </td>
    </tr>
      <tr>
      <td>Premier place & A Half
      </td>
      <td>4.7
      </td>
    </tr>
  </table>
</p>
