<h1>Sign up</h1>

<form action="/insert_user" method="post">



  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="query_email">
    <div id="emailHelp" class="form-text"></div>
  </div>

  <div class="mb-3">
    <label for="firstName" class="form-label">First name</label>
    <input type="text" class="form-control" id="firstName" aria-describedby="firstName" name="query_first_name">
    <div id="firstName" class="form-text"></div>
  </div>

  <div class="mb-3">
    <label for="lastName" class="form-label">Last name</label>
    <input type="text" class="form-control" id="lastName" aria-describedby="lastName" name="query_last_name">
    <div id="lastName" class="form-text"></div>
  </div>
                 
  
         
  <div>
    <label for="role_box">Role</label>
      
    <!input type="text" id="role_box" name="query_role">
    <select class="form-select" aria-label="Default select example" name="query_role">
      <option selected>Open this select menu</option>
      <option>HR</option>
      <option>Facilities</option> 
      <option>Office Manager</option>
      <option>C-Level</option> 
      <option>Finance</option>
      <option>CEO</option> 
      <option>CIO</option> 
      <option>Others</option>
    </select>
    
    <!input id="role_box" name="query_role_other" placeholder="Other Roles if applicable..." type="text">
  </div>

  <div class="mb-3">
    <label for="company" class="form-label">Company</label>
    <input type="text" class="form-control" id="company" aria-describedby="company" name="query_company">
    <div id="company" class="form-text"></div>
  </div>
         

  <div>
    <label for="role_box">Industry</label>
    <select class="form-select" aria-label="Default select example" name="query_industry">
      <option selected>Open this select menu</option>
      <option>Aerospace</option>
      <option>Agriculture</option> 
      <option>Automotive</option>
      <option>Construction</option> 
      <option>Education</option>
      <option>Energy</option> 
      <option>Financial Services</option> 
      <option>Food and Beverage</option>
      <option>Government</option>
      <option>Healthcare</option>
      <option>Hotels and Hospitality</option>
      <option>Life Sciences</option>
      <option>Logistics</option>
      <option>Manufacturing</option>
      <option>Media and Information</option>
      <option>Mining</option>
      <option>Professional Services</option>
      <option>Real Estate</option>
      <option>Rental and Leasing</option>
      <option>Retail</option>
      <option>Sports and Entertainment</option>
      <option>Technology</option>
      <option>Transportation</option>
      <option>Utilities and Wholesale Trade</option>
      <option>Others</option>
    </select>

      <!input type="text" id="industry_box_other" placeholder="Other industries if applicable..." name="query_industry_other">
  </div>
    
  <div>
    <label for="inputPassword5" class="form-label">Password</label>
    <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" name="query_password">
    <div id="passwordHelpBlock" class="form-text">
  Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
  </div>

  <div>
    <label for="inputPassword5" class="form-label">Password Confirmation</label>
    <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" name="query_password_confirmation">
    <div id="passwordHelpBlock" class="form-text">
  Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
  </div>


  <button>
    Sign up
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>
